/* this is for things that apply to the entire document */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
  font-family: "Outfit", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 2rem 0rem;
}
h2 {
  font-weight: 600;
  font-size: 1.5rem;
}
p {
  font-weight: 300;
  font-size: 1.2rem;
}
a {
  color: black;
}

/* Navigation and Links */
.topnav {
  margin: 5rem 0rem
}
.topnav a {
  margin: 0rem 2rem 0rem 0rem;
  text-decoration: none;
}
.topnav a:hover {
color: #4281A4;
  transition: 0.5s;
}
/* The Hero Section */
.hero-text {
  margin: 0px 0rem;
}
.hero-text p {
  margin: 2rem 0rem;
  max-width: 500px;
}
.hero {
  /* margin: 1rem 2rem; */

}
.profile-img {
  border-radius: 50%;
  max-width: 150px;
}
/* Buttons for the Docutment */
/*this is for testing padding around buttons. padding is internal between border and content top | right | bottom | left */
button {
  /* 
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem; */
  border-radius: 0.5rem;
  /* vertical | horizontal   */
  padding: 0.25rem 2rem;
  border: 0px;
  margin: 1rem 0.25rem;
  cursor: pointer;
}

button:hover {
  color: black;
  transition: 0.5s;
}
/* this is for testing margin margin is the space between that elemetn and something else. */

.buttonshare {
  margin: 1rem;
}

button {
  background-color: rgb(20, 172, 233);
  color: aliceblue;
  font-size: 18px;
  text-align: center;
}

/* this is an ID selector*/
#signup {
  background-color: teal;
}
/*this is a class selector, we set the class to titlepost for the h1 tags*/
.titlepost {
  color: white;
margin: 2rem 0rem;
  background-color: #48A9A6;
  padding: 1rem;
  font-weight: 100;
  font-size: 2rem
}
/*this is for testing border boxes. width | style | color|*/
/* .pagepost {
  border-width: 4px;
  border-color: rgb(170, 170, 170);
  border-style: solid;
  box-sizing: border-box;
} */
.postwords {

}
/* this is the standard for border boxes. just border: */
.pagepost {
padding: 1rem;
}
.pagepost p {
  padding: 1rem 0rem;
  border-radius: 15px;
}
.titlesub {
  font-size: 1.25rem;
}
footer {
  text-align: center;
}
/* this is for the list of icons*/
.iconview {
  text-align: center;
}
.contentcard {
  width: 1200px;
}
/* rems is good, but ems is useful for scaling elements to the root element. like a buttons corner radius that you want to scale to whatever the rem size is using ems*/

/* opacity effects the element and all child elements, alpha cahnnel is just the thing your coloring */

/* Utility Classes */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
  /* border: 1px solid black */
}

.container-sm {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 15px;
}

footer {
  margin: 2rem;
}
.blank {
  height: 200px;
}


.img-mockup {
max-width: 350px ;
max-height: 250px;
  object-fit: cover;
  border-radius: .5em;
  border: 3px solid #48a9a6ac;
}