* {
  font-family: "Gill Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.topheader {
  margin: 0 auto;
  border: 1px solid magenta;
}
.topcontent {
  margin: auto;
  width: 70%;
  border: 1px solid blue;
}
.topnav {
  margin: auto;
  width: 50%;
  border: 1px solid green;
}
.topnav a {
  padding: 0.25rem 1rem;
  text-decoration: none;
  text-align: center;
}
.topnav a:hover {
  color: white;
  background-color: black;
  border-radius: 2rem;
  padding: 0.25rem 1rem;
  transition: 1s;
}
.herotext {
  margin: auto;
}
.hero {
  margin: auto;
  width: 50%;
}

/*this is for testing padding around buttons. padding is internal between border and content top | right | bottom | left */
button {
  /* 
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem; */
  border-radius: 10px;
  /* vertical | horizontal   */
  padding: 0.25rem 2rem;
  border: 0px;
}
/* this is for testing margin margin is the space between that elemetn and something else. */

section {
  width: 60%;
  border: 1px solid magenta;
  margin: auto;
}
.maincontent {
  margin: auto;
  padding: 2rem;
}
h1 {
  color: darkblue;
}

h1,
h2 {
  text-align: center;
}

p {
  text-align: left;
}
.buttonshare {
  margin: 1rem;
}
body {
  margin: auto;
  max-width: 960px;
}

button {
  background-color: rgb(20, 172, 233);
  color: aliceblue;
  font-size: 18px;
  text-align: center;
}
.topbutton {
  margin: auto;
  width: 500px;
}
/* this is an ID selector*/
#signup {
  background-color: teal;
}

/*this is a class selector, we set the class to titlepost for the h1 tags*/
.titlepost {
  color: rgb(45, 45, 45);
  /* background-color: rgb(49, 49, 49); */
  /* padding: .25rem; */
}
/*this is for testing border boxes. width | style | color|*/
/* .pagepost {
  border-width: 4px;
  border-color: rgb(170, 170, 170);
  border-style: solid;
  box-sizing: border-box;
} */

/* this is the standard for border boxes. just border: */
.pagepost {
  border: 2px solid grey;
  border-radius: 15px;
  background-color: rgb(223, 223, 223);
  /* this is for testing margin margin is the space between that elemetn and something else. */
  margin-top: 1rem;
}
.postwords {
  background-color: rgb(185, 185, 185);
  margin: 1rem;
  padding: 1rem;

  border-radius: 15px;
}
.titlesub {
    text-align: center;
}
footer {
  text-align: center;
}
/* this is for the list of icons*/
.iconview {
  text-align: center;
}
.contentcard {
  width: 1200px;
}
.cardwork {
  display: inline-block;
  height: 200px;
  width: 200px;
  background-color: grey;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
}
/* this is for buttons within teh cardwork element*/
.cardwork button {
  background-color: red;
  width: 50%;
  margin: auto;
}

.subheader {
  text-align: center;
}
/* rems is good, but ems is useful for scaling elements to the root element. like a buttons corner radius that you want to scale to whatever the rem size is using ems*/

/* opacity effects the element and all child elements, alpha cahnnel is just the thing your coloring */